<div id="posts" class="post-form">
  <%= form_for @post do |f| %>
    <%= render 'shared/errors', object: @post %>
    <%= f.text_field :title, class: 'post-title' %>
    <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
    <%= f.text_area :content, class: 'post-content', id: 'new-post-text' %>
    <%= f.submit '送出', class: 'success button' %>
  <% end %>
</div>

<script type="text/javascript">
  var simplemde = new SimpleMDE({
    autofocus: false,
    spellChecker: false,
    renderingConfig: {
      codeSyntaxHighlighting: true
    },
    element: document.getElementById('new-post-text')
  });
</script>
