<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags  %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
  <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="yue">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>

  <%= render 'layouts/header' %>

  <div class="row medium-8 large-6 columns">
    <% if notice %>
      <div class="callout success">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
    <div class="callout alert">
      <%= alert %>
    </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
